@import "../../index.scss";

.slider-container {
    background-size: cover;
    background-position: center;
    max-width: 855px;
    margin: 70px auto;
    border: 1px solid $primary;

    /* Center the slider container */
    .slide {
        @include flex-centered;
        flex-direction: column;
        height: 400px;

        h3 {
            color: $secondary;
            font-size: 30px;
        }

        span {
            color: $mainLight;
        }
    }
}