.slider-container {
    background-image: url("../../img/заглушка.jpeg");
    background-size: cover;
    background-position: center;
    max-width: 800px;
    max-height: 200px;
    /* Set the maximum width of the slider container */
    padding: 40px;
    margin: 0px auto;
    /* Center the slider container */
}