@import '../../index.scss';

.advantages-wrap-container {
    text-align: center;
    background-color: #e1e1e1;
    padding: 30px;
    border-top: 2px solid $mainDark;
    border-bottom: 2px solid $mainDark;

    .advatanges-heading {
        font-size: 36px;
        margin-top: 0;
    }

    .advantage-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;

        .advantage {
            flex: 1;

            h3 {
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 5px;
            }

            p {
                font-size: 18px;
                color: $primary;
                margin-bottom: 0;
            }
        }
    }
}