@import '../../index.scss';

.advantages-wrap-container {
    text-align: center;
    padding: 30px;

    .advatanges-heading {
        margin-top: 0;
    }

    .advantages-container {
        @include flex-centered;
        padding: 20px;

        .advantage {
            flex: 1;

            h3 {
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 5px;
            }

            p {
                font-size: 18px;
                color: $primary;
                margin-bottom: 0;
            }

            img {
                max-width: calc(100% - 75%);
            }
        }
    }
}