@import '../../index.scss';

.advantages-wrap-container {
    padding: 20px;
    /* Adjust as needed */
    margin: 20px 0;
    text-align: center;
}

.advantages-heading {
    margin-bottom: 20px;
}

.advantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantage {
    flex: 1 1 calc(33% - 40px);
    max-width: calc(33% - 40px);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.advantage img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.advantage h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.advantage p {
    font-size: 1em;
    color: $mainDark;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .advantage {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .advantage {
        flex: 1 1 100%;
        max-width: 100%;
    }
}