.beOnTime h4 {
    font-size: 24px;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}

.onImage {
    width: auto;
    /* Maintain the aspect ratio */
    height: 1em;
    /* Set the height relative to the text */
    vertical-align: middle;
    /* Align the image vertically with text */
}