.navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0;

    .navbarLink {
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

    .navbarLink:hover {
        background-color: #332;
    }
}