@import "../../index.scss";

.headerContainer {
    width: 100%;
    background-color: $primary;
    /* Change to desired background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: adds a subtle shadow */
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* Adjust as needed */
    margin: 0 auto;
    padding: 0 20px;
    /* Adjust as needed */
}

.header-logo {
    height: 50px;
    /* Adjust as needed */
    cursor: pointer;
}

.registerBtn {
    background-color: $secondaryAccent;
    /* Change to desired button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registerBtn:hover {
    background-color: $secondaryAccent;
    /* Change to desired hover color */
}

.shoppingCart {
    height: 30px;
    /* Adjust as needed */
    cursor: pointer;
}

/* Responsive styling */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .registerBtn {
        margin-top: 10px;
        width: 100%;
        /* Make button full width on small screens */
        text-align: center;

    }

    .shoppingCart {

        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0 10px;
        /* Adjust padding for very small screens */
    }

    .header-logo {
        height: 40px;
        /* Smaller logo for very small screens */
    }

    .shoppingCart {
        height: 25px;
        /* Smaller cart icon for very small screens */
    }
}