.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .5rem;
    background-color: #58595B;
    color: #fff;

    .header-logo {
        width: 100px;
        /* Adjust width as needed */
        height: auto;
        /* Maintain aspect ratio */
        cursor: pointer;
    }
}