.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #58595B;
    color: #fff;

    .header-title {
        margin: 0;
        /* Remove default margin */
    }

    .header-logo {
        width: 100px;
        /* Adjust width as needed */
        height: auto;
        /* Maintain aspect ratio */
    }
}